<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saulcintero.moveon"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />

    <!-- Used for view online maps and share your own practices -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Used to check for a data connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Used to keep the service running when the phone sleeps -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Incoming calls -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- Used to save practice photos, export practice to SD -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Manage GPS data -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Used to take photos -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Display brightness -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Access to sensors -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.bluetooth" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_consumerkey" />

        <!-- Activities -->
        <activity
            android:name="com.saulcintero.moveon.SplashScreen"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.MainHolder"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAINHOLDER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.DisplayInfo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.DISPLAYINFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.ActivityList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.ACTIVITYLIST" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.PracticeDetails"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.PRACTICEDETAILS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.CountDown"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.COUNTDOWN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.AddPractice"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.ADDPRACTICE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.EditPractice"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.EDITPRACTICE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.Objetives"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.OBJETIVES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.HiitList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.HIITLIST" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.AddHiitPressets"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.ADDHIITPRESSETS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.EditHiitPressets"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.EDITHIITPRESSETS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.AddHiitInterval"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.ADDHIITINTERVAL" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.EditHiitInterval"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.EDITHIITINTERVAL" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.Shoes"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SHOES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.Karvonen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.KARVONEN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.Settings_About"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS_ABOUT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.MoveOnPreferences"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MOVEONPREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.OSMAuthorization"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:parentActivityName="com.saulcintero.moveon.MoveOnPreferences" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MoveOnPreferences" />

            <intent-filter>
                <action android:name="com.saulcintero.moveon.OSM_AUTHORIZE" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="authorize"
                    android:scheme="moveonsportstracker" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.SummaryHolder"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SUMMARYHOLDER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.saulcintero.moveon.Secret"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SUMMARYHOLDER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Broadcast Receiver (Media button receiver) -->
        <receiver android:name="com.saulcintero.moveon.services.MediaButtonEventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.saulcintero.moveon.services.SecretCodeReceiver" >
        	<intent-filter>
           		<action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="1981" />
            </intent-filter>
		</receiver>

        <!-- Service -->
        <service
            android:name=".services.MoveOnService"
            android:enabled="true"
            android:label="@string/app_name"
            android:process="" />
    </application>

</manifest>